/* 全局样式表 */


/*清除元素默认的内外边距  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}


/*让所有斜体 不倾斜*/

em,
i {
    font-style: normal;
}


/*去掉列表前面的小点*/

li {
    list-style: none;
}


/*图片没有边框   去掉图片底侧的空白缝隙*/

img {
    border: 0;
    /*ie6*/
    vertical-align: middle;
}


/*让button 按钮 变成小手*/

button {
    cursor: pointer;
}


/*取消链接的下划线*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    /*取消轮廓线 蓝色的*/
    outline: none;
    border: none;
}

body {
    background-color: #f4f4f4;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #333;
}

.hide,
.none {
    display: none;
}


/*清除浮动*/

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/* 修改分页的默认css */

.el-pagination li.active {
    background: linear-gradient(90deg, rgba(255, 117, 140, 1), rgba(255, 126, 179, 1))!important;
}

.el-pager li.active {
    color: #fff!important;
}

.el-pager li {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-align: center;
    background: rgba(255, 255, 255, 1)!important;
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 6px!important;
}

.el-pagination .btn-next span {
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 6px!important;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px;
    margin-right: 10px;
}

.el-pager .more::before {
    line-height: 40px!important;
}

.el-pagination button,
.el-pagination span:not([class*=suffix]) {
    height: 40px;
    line-height: 40px;
}


/* 修改登录注册页的默认css */

.el-input-group__append,
.el-input-group__prepend {
    background-color: #fff;
    padding: 0 25px 0 15px;
}


/* 修改下拉框的默认css */

.el-select-dropdown__item {
    color: #666;
}

.el-select-dropdown__item:hover {
    background-color: #ff9fc4;
    color: #fff;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #e5e5e5;
}

.el-select .el-input__inner:focus {
    border-color: #e5e5e5;
}


/* 修改颜色选择器默认css */

.el-color-picker__trigger {
    width: 210px;
}

.el-color-picker__trigger {
    padding: 0;
}

.el-color-picker__color {
    overflow: hidden;
    border: none;
    border-radius: 4px;
}


/* 登录页 , 注册页 css */

.el-dialog .el-dialog__header {
    padding: 30px;
    height: 128px;
    text-align: center;
    border-radius: 6px 6px 0 0;
}

.el-dialog__title {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    line-height: 68px;
}

.el-dialog__headerbtn .el-dialog__close {
    font-size: 30px;
    color: #afafaf;
}

.el-dialog__body {
    padding: 0 30px;
    border-radius: 0 0 6px 6px;
}

.inputCode .el-input__inner {
    height: 44px;
}

.register_password .el-input__inner {
    height: 44px;
}

.login_input_password .el-input-group__prepend {
    padding-right: 24px;
}


/* 聚焦在输入框时边框颜色 */

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: #ff6a94;
}